<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_intent"
        tools:targetApi="31">
        <activity
            android:name=".ps5"
            android:exported="false" />
        <activity
            android:name=".ps4"
            android:exported="false" />
        <activity
            android:name=".ps3"
            android:exported="false" />
        <activity
            android:name=".ps2"
            android:exported="false" />
        <activity
            android:name=".xbox"
            android:exported="false" />
        <activity
            android:name=".acer"
            android:exported="false" />
        <activity
            android:name=".msi"
            android:exported="false" />
        <activity
            android:name=".lenovo"
            android:exported="false" />
        <activity
            android:name=".macbook"
            android:exported="false" />
        <activity
            android:name=".asus"
            android:exported="false" />
        <activity
            android:name=".realme"
            android:exported="false" />
        <activity
            android:name=".rog"
            android:exported="false" />
        <activity
            android:name=".blackshark"
            android:exported="false" />
        <activity
            android:name=".iphone"
            android:exported="false" />
        <activity
            android:name=".PS"
            android:exported="false" />
        <activity
            android:name=".playstation"
            android:exported="false" />
        <activity
            android:name=".laptop"
            android:exported="false" />
        <activity
            android:name=".samsung"
            android:exported="false" />
        <activity
            android:name=".handphone"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>